header{
    background-color: #ccc;
    padding: 20px;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;


}
nav ul{
    position: absolute;
    top: 120px;
    right: 0;
}
nav li{

    display: inline;
    margin: 0 0 0 10px;

}
nav a{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

nav a:hover{
    color: #7a6400;
    text-decoration: underline;
}
#imagem-barbearia{
    width: 100%;
}


.principal{
    
    margin: 50px auto;
    width: 70%;
    text-align: center;
}

#enfase{
    font-size: 20px;
    color: #ff0000;
}
main{
    background-color: lightgray;
    padding: 60px;
}
.beneficios{
    position: relative;
    height: 470px;
    align-items: center;
    background-color: lightgray;

}
.titulo-secundario{
    margin:30px;
    font-size: 25px;
    font-weight: bold;

}
.lista-beneficios{
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    padding: 0;
}
.listaUm{
    font-style: italic;
    text-align: left;
    list-style: none;
}
li{
    padding: 10px;
    font-size: 18px;
}
.img-beneficios{
    display: inline-block;
    position: absolute;
    right: 0;
    top:70px;
    width: 50%;
    margin-left: 420px;
    
}
#imagem-beneficios{
    box-sizing: border-box;
    width: 100%;
}

footer{
    background: url("../images/bg.jpg");
    text-align: center;
    padding: 40px 0;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;

}

